.DS_Store
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcarchive
*.dSYM
*.dSYM.zip
*.xcresult
*.mobileprovision
*.p12
*.cer
*.certSigningRequest
